
@font-face {
    font-family: LeagueGothic;
    src: url(../fonts/LeagueGothic-Regular.ttf);
}

@font-face {
    font-family: ArchivoNarrow;
    src: url(../fonts/ArchivoNarrow.ttf);
}

@font-face {
    font-family: NeueHaasDisplayBold;
    src: url(../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayLight.ttf);
}

body {
    margin-right: 0;
    margin-left: 0;
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
    font-family: ArchivoNarrow;
}

.bg-gray-1 {
    background-color: var(--color-gray-1);
}

.bg-gray-2 {
    background-color: var(--color-gray-2);
}

.bg-gray-3 {
    background-color: var(--color-gray-3);
}

.bg-gray-4 {
    background-color: var(--color-gray-4);
}

.bg-gray-5 {
    background-color: var(--color-gray-5);
}

.bg-gray-6 {
    background-color: var(--color-gray-6);
}


p {
    margin-top: 0;
    font-family: ArchivoNarrow;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {

    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;

}

h1 {
    font-family: LeagueGothic;
    font-size: var(--spacing-6);
    font-weight: 500;
    line-height: 1;
}

h2 {
    font-family: LeagueGothic;
    font-size: var(--spacing-5);
    font-weight: 500;
}

h3 {
    font-family: ArchivoNarrow;
    font-size: var(--spacing-4);
    font-weight: 200;
    line-height: 1;
}

span {
    font-family: ArchivoNarrow;
}

section {
    margin-bottom: var(--spacing-5);
}

section>.container {
    margin-top: var(--spacing-5);
}

.navbar-section .container {
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
    border: 1px solid white;
    border-radius: var(--spacing-1);

}

.subtitle {
    font-size: 1.25rem;
}

.banner {
    width: 60%;
    /* padding-top: var(--spacing-3); */
    padding-bottom: var(--spacing-3);
    padding-right: 8px;
    border-bottom: 1px solid white;
}

.personal-img-container {
    overflow: hidden;
}

.icon-container {
    border: 1px solid white;
    border-radius: var(--spacing-2);
    aspect-ratio: 1 / 1;
}

.icon-container img {
    width: var(--spacing-5);
    height: auto;
}

.header-section p {
    font-family: LeagueGothic;
}

.project-description {
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
}

.project-description-title {
    font-size: var(--spacing-4);
    font-weight: 500;
    margin-bottom: var(--spacing-2);
}

.single-project-container {
    border-radius: var(--spacing-2);
    overflow: hidden;
}

.single-project-container img {
    border-radius: inherit;
}

.getintouch-text {
    font-size: var(--spacing-4);
}

input,
textarea {
    background-color: inherit;
    border-radius: var(--spacing-2);
    border: 1px solid white !important;
}

div.form-floating {
    position: relative;
    width: 100%
}

.form-control {
    display: block;
    width: 100%;
    /* height: 40px; */
    /* Fixed height for better consistency */
    padding: var(--spacing-3) var(--spacing-2);
    font-size: var(--spacing-3);
    border: none;
}

textarea.form-control {
    padding: var(--spacing-5) var(--spacing-2);
}

label.form-label {
    position: absolute;
    top: var(--spacing-3);
    left: 0.75rem;
    transform: translateY(-50%);
    color: var(--color-text-light);
    font-size: var(--spacing-3);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.form-control:focus {
    outline: none;
    /* add shadow or whatever you want */
}

.form-control:focus+.form-label,
.form-control:not(:placeholder-shown)+.form-label {
    /* top: var(--spacing-2); */
    top: var(--spacing-2);
    left: var(--spacing-1);
    font-size: 12px;
    color: var(--color-gray-6);
}

input[type=submit] {
    display: block;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    padding: var(--spacing-3) var(--spacing-2);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-family: ArchivoNarrow;
    font-size: var(--spacing-3);
    border: none !important;
    border-radius: var(--spacing-2);
}

@media (min-width: 577px) {



    .icon-container {
        border: 1px solid white;
        border-radius: var(--spacing-2);
    }

    /* .icon-container img {
        width: var(--spacing-4);
        height: auto;
    } */
}


@media (min-width: 769px) {

}


p {
    margin-bottom: 0rem;
}


.btn-test {
    --bs-btn-bg: var(--color-primary);
    --bs-btn-color: var(--color-text-light);
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0d6efd;
    --bs-btn-hover-border-color: #0d6efd;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd;
    --bs-btn-active-border-color: #0d6efd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);

    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: ArchivoNarrow;
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}



/*
.form-input {
    width: 100%;
    padding: 10px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    color: #999;
    transition: all 0.8s ease;
    pointer-events: none;
}

 */
